.maindiscografia {

    padding: 10px;
    min-height: auto;
    width: auto;
    font-size: 16px;
}

.parrafo {
    padding: 30px;
    text-align: center;

}

section{

    .img1discografia {
        display: flex;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 300px;
        border-radius: 10px;

    }

    .img1discografia:hover {
        flex-grow: 1;
        opacity: .5;
        transition: .6s ease;
        cursor: crosshair;
        opacity: 1;
        filter: sepia(120%);
    }
}

div {
    text-align: center;

    .video {
        width: 400px;
        height: 400px;

    }
}





@media (min-width: 700px) {

    .maindiscografia {
        min-height: auto;
        width: auto;
        font-size: 19px;
    }

    .parrafo {
        padding: 45px;
        text-align: center;
    
    }


    section {

        .img1discografia {
            display: flex;
            justify-content: center;

            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            min-height: 380px;
            border-radius: 10px;

        }

        .img1discografia:hover {
            flex-grow: 1;
            object-fit: cover;
            opacity: .5;
            transition: .6s ease;
            cursor: crosshair;
            opacity: 1;
            filter: sepia(120%);
        }
    }

    div {
        text-align: center;

        .video {
            width: 550px;
            height: 400px;

        }
    }
}



@media (min-width: 1010px) {


    .parrafo {
        padding: 80px;
        text-align: center;
    
    }


    .maindiscografia {
        min-height: auto;
        width: auto;
        font-size: 16px;
    }


    section {




        .img1discografia {
            float: left;
            margin-bottom: 25px;
            margin-left: 10px;
            margin-right: 10px;
            width: auto;
            height: auto;
            border-radius: 10px;

        }

        .img1discografia:hover {
            flex-grow: 1;
            object-fit: cover;
            opacity: .5;
            transition: .6s ease;
            cursor: crosshair;
            opacity: 1;
            filter: sepia(120%);
        }
    }

    div {
        text-align: center;

        .video {
            width: 950px;
            height: 500px;

        }

    }
}