footer>a>i {
    font-size: 60px;
    color: rgb(0, 0, 0);
}
footer>a>i:hover{
    transform: translateY(-5px);
  
}

footer {
    background-color: #98C1D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: auto;
    background:linear-gradient( 180deg,$color-principal,$color-secundario) ;


}


@media (min-width: 1010px) {

    footer {
        padding: 10px;
    }
}