.perfil {
    padding: 10px;
}

.perfil-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.mainperfil {
    min-height: 700px;
    width: auto;
}

.accordion-button {
    background-color: $color-principal;
    height: 30px;
    color: #98C1D9
}

.accordion-body {
    padding: 8px 12px;
    background-color:$color-secundario
}




.mainperfil {
    min-height: 100%;
    width: 100%;
    font-size: 22px;

}


@media (min-width: 700px) {
    .perfil {
        padding: 20px;
    }

    .perfil-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 25px;

    }

    .mainperfil {
        min-height: 700px;
        width: 100%;
    }
}



@media (min-width: 1010px) {
.mainperfil {
    min-height: 100vh;
    width: 100%;
    font-size: 16px;

}
}